<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.T_SysUserMapper">
  <resultMap id="BaseResultMap" type="domain.T_SysUser">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="LoginAccount" jdbcType="VARCHAR" property="loginAccount" />
    <result column="PassWord" jdbcType="VARCHAR" property="passWord" />
    <result column="Status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Name, LoginAccount, PassWord, Status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    Id, Name, LoginAccount, PassWord, Status
    from t_sysuser
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByLoginAccount" parameterType="domain.T_SysUser" resultMap="BaseResultMap">
  	select
  	Id, Name, LoginAccount, PassWord, Status
  	from t_sysuser
  	where LoginAccount = #{loginAccount,jdbcType=VARCHAR}
  </select>
  <select id="selectByLoginAccount2" parameterType="domain.T_SysUser" resultMap="BaseResultMap">
  	select
  	Id, Name, LoginAccount, PassWord, Status
  	from t_sysuser
  	<if test="name != null &#38;&#38; name != '' ">where Name = #{name,jdbcType=VARCHAR}</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sysuser
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.T_SysUser">
    insert into t_sysuser (Id, Name, LoginAccount, 
      PassWord, Status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{loginAccount,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.T_SysUser">
    insert into t_sysuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="loginAccount != null">
        LoginAccount,
      </if>
      <if test="passWord != null">
        PassWord,
      </if>
      <if test="status != null">
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginAccount != null">
        #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.T_SysUser">
    update t_sysuser
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginAccount != null">
        LoginAccount = #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        PassWord = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.T_SysUser">
    update t_sysuser
    set Name = #{name,jdbcType=VARCHAR},
      LoginAccount = #{loginAccount,jdbcType=VARCHAR},
      PassWord = #{passWord,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>